
:root {
  --primary: #6C5FFC;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* button */
.custom-btn {
  background: #6C5FFC;
  color: #fff;
  border: 2px solid red;
  border-radius: 3px;
  padding: 5px 10px;
}

/* navbar */
.fixed-top.navbar-white .navbar-nav .nav-link {
  padding: 20px 20px;
}

.link-underline {
  border-bottom-width: 0;
  padding-bottom: 2px;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 7px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease;
}

.link-underline-warning {
  padding-top: 2px;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(rgb(108,95,252), rgb(108,95,252));
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
  transition: background-size 0.3s ease;
}



.brand__logo img {
  width: 150px;
}
.content {
  margin-top: 100px;
}

@media (max-width: 992px) {
    
    .navbar-collapse.collapsing .navbar-nav {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -45%;
        transition: all 0.2s ease;
        color: #000;
    }

    .navbar-collapse.show .navbar-nav {
        position: fixed;
        background: white;
        top: 0;
        bottom: 0;
        left: 0;
        flex-direction: column;
        height: auto;
        width: 50%;
        padding: 15px;
        transition: left 0.35s ease;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
} */
